.input__container {
  width: 800px;
  margin: 5px;
  padding: 5px 10px;
  position: relative;
  display: inline;
}

.input__label {
  margin: 0 30px;
  height: 25px;
  font-size: 20px;
}

.input__content {
  margin: 15px 0;
  margin-bottom: 30px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.credit-card__warning {
  width: 800px;
  height: 20px;
  margin-bottom: 20px;
  color: #e3321d;
  text-align: center;
}

.warning {
  background-color: pink;
}

.selection {
  height: 35px;
}
