.input__container {
  width: 800px;
  margin: 5px;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
}

.input__label {
  margin: 20px;
  height: 25px;
}

.input__content {
  width: 600px;
  height: 25px;
  border-radius: 5px;
}

.credit-card__warning {
  width: 700px;
  height: 20px;
  margin: 5px 20px;
  padding: 10px;
  color: #e3321d;
}

.warning {
  background-color: pink;
}
